<div class="aboutMeContainer">

    <div class="distance">

        <div class="aboutMeHeader">

            <div class="avatar">
                <img src="assets/img/sebastian.jpg">
            </div>

            <div class="description">
                <h2>About me.</h2>
                <p>I'm a frontend developer with a passion for structuring logical processes.</p>
            </div>

        </div>

        <div class="middleLine"></div>

        <div class="descriptionPoints">

            <div class="journey" *ngFor="let step of aboutMe; let indexNr = index;">
                <div class="imgCircle">
                    <img src="assets/img/{{ step.image }}.png">
                </div>
                <h3>{{ step.title }}</h3>
                <p class="text">{{ step.description }}</p>
            </div>

        </div>

    </div>

</div>