<div class="aboutMeContainer">

    <div class="distance">

        <div class="aboutMeHeader">

            <div class="avatar">
                <img src="assets/img/profile.jpg">
            </div>

            <div class="description">
                <h2>About me.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quidem eum consequuntur? Dicta
                    tempore
                    ex corporis distinctio, ?</p>
            </div>

        </div>

        <div class="middleLine"></div>

        <div class="descriptionPoints">

            <div class="journey" *ngFor="let step of description; let indexNr = index;">
                <div class="imgCircle">
                    <img src="assets/img/{{ image[indexNr] }}.png">
                </div>
                <div class="text">{{ description[indexNr] }}</div>
            </div>

        </div>

    </div>

</div>