.myWorkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

h2 {
    margin-top: 46px;
    font-size: 36px;
    color: white;
}

.toggleBtn {
    mat-button-toggle-group {
        border: none;

        mat-button-toggle {
            display: flex;
            align-items: center;
            color: white;
            // background-color: black;
            border: 2px solid #fa2759 !important;
            margin: 6px;
            height: 58px;
            width: 114px;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #fa2759;
            }
        }
    }

    .mat-button-toggle-checked {
        background-color: #fa2759 !important;
    }

    .mat-button-toggle-appearance-standard {
        background: black;
    }
}



.toggleWork {
    width: 800px;
    margin-top: 30px;
    margin-bottom: 50px;

    mat-button-toggle-group {
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    mat-button-toggle {
        position: relative;
        background: none;
        border: none;
        margin: 6px;
        width: 370px;
        height: 320px;
    }

    img {
        width: 370px;
        height: 320px;


    }
}

.workPosition {
    position: relative;
    margin: 8px;
}

.projectName {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 2px;
    left: 8px;
    color: #fa2759;
    font-weight: 600;
}

.projectBtn {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 0px;
    left: 0px;
    right: 10px;
    bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all 125ms ease-in-out;

    &:hover {
        opacity: 1;
        transition: all 125ms ease-in-out;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h2 {
        font-size: 16px;
        color: #fa2759;
    }

    a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
    }

    button {
        color: #2dfcd8;
        background-color: black;
        border: 2px solid #2dfcd8;
        height: 54px;
        width: 140px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #2dfcd8;
        }
    }
}

span {
    z-index: 1;
}

@media (max-width: 820px) {

    .toggleWork {
        width: 500px;
    }
}