<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div class="menu">
      <div class="logo">
        <a href="#home"><img src="assets/img/logo.png"></a>
      </div>
      <div class="link">
        <a href="#home">HOME</a>
        <a href="#about-me">ABOUT</a>
        <a href="#my-work">PORTFOLIO</a>
      </div>
    </div>

    <div class="menuBar">
      <button mat-button [matMenuTriggerFor]="menu"><img src="assets/img/menu_black_24dp.svg"></button>
      <mat-menu #menu="matMenu">
        <a href="#home"><button mat-menu-item>HOME</button></a>
        <a href="#about-me"><button mat-menu-item>ABOUT</button></a>
        <a href="#my-work"><button mat-menu-item>PORTFOLIO</button></a>
      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>