mat-toolbar-row {
    justify-content: space-between;
    background: black !important;
    padding: 0px;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 60px;

    .link {
        margin-right: 110px;

        a {
            font-weight: 400;
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin-left: 60px;
            transition: all 125ms ease-in-out;

            &:hover {
                color: #fa2759;
                transition: all 125ms ease-in-out;
            }
        }

    }
}

.logoImg {
    width: 40px;
    height: 40px;
    margin-left: 110px;
}

.menuBar {
    display: none;
}

a {
    text-decoration: none;
}


@media (max-width: 650px) {
    mat-toolbar-row {
        display: flex;
    }

    .menuBar {
        display: flex;
        margin-right: 16px;
    }

    .menu {
        .link {
            display: none;
        }

    }

    .logoImg {
        margin-left: 16px;
    }

}