.contactMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.contactMeHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.example-form {
    margin-left: 16px;
    margin-right: 16px;
}

h2 {
    margin-top: 120px;
    font-size: 56px;
    color: #2dfcd8;
}

span {
    margin-top: 20px;
    margin-bottom: 46px;
    font-size: 16px;
    color: white;
}

mat-form-field {
    max-width: 540px;
    width: 100%;
}

button {
    color: #2dfcd8;
    background-color: black;
    border: 2px solid #2dfcd8;
    height: 54px;
    width: 140px;
    font-weight: 600;
    font-size: 16px;
    cursor: default;

    &:not([disabled]):hover {
        color: white;
        background-color: #2dfcd8;
        cursor: pointer;
    }
}

.example-button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 120px;
}

small {
    font-size: 14px;
    color: #f44336;
}

// .form-control.ng-touched.ng-invalid {
//     border: 1px solid red;
//     border-radius: 3px;
// }

// .form-control.ng-touched.ng-valid {

// }