.contactMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

h2 {
    margin-top: 46px;
    font-size: 56px;
    color: #2dfcd8;
}

span {
    font-size: 16px;
    color: white;
}