.mySkillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

h2 {
    margin-top: 46px;
    font-size: 36px;
    color: white;
}

.mySkillBox {
    position: relative;
    width: 180px;
    height: 120px;
    background-color: #ced6d5;
    margin: 14px 14px 40px 14px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySkillsLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mySkills {
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 5px 3px #c8fff5;
}

img {
    top: 0;
    width: 30px;
    height: 30px;
}